In [ ]:
''' Dataset information
| Data File                   | Size     | Comment                 |
|:----------------------------|:---------|:------------------------|
| _raw_df_channels.tsv.gz     | 6.4 MB   | Sample dataset created. |
| _raw_df_timeseries.tsv.gz   | 653.1 MB | Sample dataset created. |
| _raw_yt_metadata.jsonl.zst  | 14.7 GB  | Downloading...          |
| df_channels_en.tsv.gz       | 6.0 MB   | Sample dataset created. |
| df_timeseries_en.tsv.gz     | 571.1 MB | Sample dataset created. |
| num_comments.tsv.gz         | 754.6 MB | Sample dataset created. |
| num_comments_authors.tsv.gz | 1.4 GB   | Downloading...          |
| youtube_comments.tsv.gz     | 77.2 GB  | Downloading...          |
| yt_metadata_en.jsonl.gz     | 13.6 GB  | Downloading...          |
| yt_metadata_helper.feather  | 2.8 GB   | Downloading...          |
'''

'\n| Data File                   | Size     | Comment                 |\n|:----------------------------|:---------|:------------------------|\n| _raw_df_channels.tsv.gz     | 6.4 MB   | Sample dataset created. |\n| _raw_df_timeseries.tsv.gz   | 653.1 MB | Sample dataset created. |\n| _raw_yt_metadata.jsonl.zst  | 14.7 GB  | Downloading...          |\n| df_channels_en.tsv.gz       | 6.0 MB   | Sample dataset created. |\n| df_timeseries_en.tsv.gz     | 571.1 MB | Sample dataset created. |\n| num_comments.tsv.gz         | 754.6 MB | Sample dataset created. |\n| num_comments_authors.tsv.gz | 1.4 GB   | Downloading...          |\n| youtube_comments.tsv.gz     | 77.2 GB  | Downloading...          |\n| yt_metadata_en.jsonl.gz     | 13.6 GB  | Downloading...          |\n| yt_metadata_helper.feather  | 2.8 GB   | Downloading...          |\n'

In [60]:
import os
import pandas as pd

# Verify current working directory
print(f"Current working directory: {os.getcwd()}")

Current working directory: d:\_edd\_local_repos\cs513_data_mining\trendy-tube

In [61]:
#FILE_NAME = '_raw_df_channels'
#FILE_NAME = '_raw_df_timeseries'
#FILE_NAME = 'df_channels_en'
#FILE_NAME = 'df_timeseries_en'
FILE_NAME = 'num_comments'
PATH = f'RawData/{FILE_NAME}' + '.tsv.gz'

# Read and display the first few rows
SAMPLE_SIZE = 50_000 # target sample size
CHUNK_SIZE = 1_000_000 # chunk size for reading large files (do not read all into memory)
df = pd.read_csv(PATH, sep='\t', compression='gzip', nrows=CHUNK_SIZE)
df.head()

    display_id  num_comms
0  SBqSc91Hn9g        0.0
1  UuugEl86ESY        0.0
2  oB4c-yvnbjs       48.0
3  ZaV-gTCMV8E        6.0
4  cGvL7AvMfM0        5.0

In [62]:
# Display column information
print("\nDataFrame Info:")
df.info()

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 2 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   display_id  1000000 non-null  object
 1   num_comms   1000000 non-null  float64
dtypes: float64(1), object(1)
memory usage: 15.3+ MB

In [63]:
# Sample some of the rows from the chunked dataframe
df_sample = df.sample(n=SAMPLE_SIZE, random_state=42).reset_index(drop=True)
print(f"Sampled dataset shape: {df_sample.shape}")
df_sample.head()

Sampled dataset shape: (50000, 2)

    display_id  num_comms
0  YtoM5PD9OP0        0.0
1  Gqo8NTp28pc      230.0
2  DpJauDM8d34        0.0
3  W_dFLYNuz7Q        0.0
4  hEBJpyJ5ePM        6.0

In [ ]:
# Write to .csv file
df_sample.to_csv(f'SampleData/{FILE_NAME}' + '_sample.csv', index=False)